POSTGRES_DB=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=senha_muito_segura_aqui

DB_HOST=db
DB_PORT=5432

DJANGO_SETTINGS_MODULE=app.config.settings.dev

ADMIN_NOME=Administrador
ADMIN_EMAIL=admin@escola.com
ADMIN_PASSWORD=senha_muito_segura_aqui